*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  font-size: 14px;
  font-weight: 400;
  font-family: sans-serif;
}
.container{
  margin-left: 0;
  display: flex;
}
.contained{
  display: flex;
  flex-direction: row;
}
.main{
  width: 100%;
  /* padding: 20px; */
}

/* //sidebar */



.sidebar{
  background-color: rgb(94, 37, 37);
  /* background-color: #c0392b; */
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  /* border-radius: 5px; */
  height: 100vh;
  width: 25%;
  transition: all 0.5s;
  padding: 5px 5px 0 2px;
}
.inner_sidebar{
  overflow-x: hidden;
  overflow-y: auto;
  
  /* overflow: auto; */
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 10px;
  padding-right: 2px;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 23px;
  margin-left: 2px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 30px; 
}
.link{
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
  
}
.link_vendor{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link_vendor:hover{
  background-color: #fff;
  color: rgb(94, 37, 37);
  border: 2px solid rgb(94, 37, 37);
  transition: all 0.5s;
}
/* child_items{
  display: flex;
  flex-direction: row;
} */
.child_link{
  display: flex;
  flex-direction: column;
  /* padding-left: 20px;
  padding-bottom: 12px;
  padding-top: 10px; */
  color: white;
  text-decoration: none;
  height: 40px;
  background-color: rgb(94, 37, 37);
 
}
.main_menue{
  display: flex;

}
.link:hover{
  background-color: #fff;
  color: rgb(94, 37, 37);
  border: 2px solid rgb(94, 37, 37);
  transition: all 0.5s;
}
.link_partscategory{
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 10px 0px 7px 0px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link_partscategory:nth-child(2){
  padding-left: 2px;
}
.link_partscategory:hover{
  background-color: #fff;
  color: rgb(94, 37, 37);
  border: 2px solid rgb(94, 37, 37);
  transition: all 0.5s;
}
.child_link:hover{
  background-color: #fff;
  color: rgb(94, 37, 37);
  border: 2px solid rgb(94, 37, 37);
  transition: all 0.5s;
}
.sub_menue{
  background-color:rgb(94, 37, 37) ;
  color: white;
  width: 100%;

}
.parts_icon{
  padding-left: 13px;
}
.partsSub_icon{
  padding-left: 17px;
  padding-top: 3px;
}
.active{
  background: #fff;
  color: rgb(94, 37, 37);
  /* border: 2px solid rgb(94, 37, 37); */
} 
/* .icon, .link-text{
  /* font-size: 15px;



/* //navbar */
.topbar{
  /* border: 2px solid black; */
  position: sticky;
  width: 100%;
  display: flex;
  height: 60px;
  top: 0;
  background-color: white;
}
.side{
  display: flex;
  padding: 0;
  position: absolute;
  right: 21px;
  top: 12px;
}
.first input:focus{
  border: none;
}
.first{
  display: flex;
}
.mycart_btn{
  border: none;
  background: white;
}
.search-box{
  margin-left: 40px;
  margin-top: 7px;
  margin-bottom: 16px;
  width: 400px;
  display: block;
  font-size: 15px;
  border-radius: 25px;
  padding: 8px 40px 8px 20px;
  box-shadow: 0 2px 8px -1px grey;
  border: none;
}
.search-box:focus{
  outline: none;
}


.cart{
  margin: 8px 12px 4px;
  font-size: 19px;
  cursor: pointer;
} 
.cart:active{
  transform: translateY(4px);
}
.bars2{
  color: rgb(94, 37, 37);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 14px;
  font-size: 25px;
  
}
.bars2:hover{
  cursor: pointer;
}
.bars2:active{
  color: rgb(94, 37, 37);
  transform: translateY(5px);
}
.search-icon{
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
  color: grey;
  margin-top: 13px;
  margin-right: 43px;
}
.searcg-icon:hover{color: black;}
.search-icon:active{
  color: black;
  transform: translateY(4px);
}
.Productname{
  margin: 10px 13px 14px 6px;
  font-size: 14px;
  text-align: center;
}
.logoutbtn{
  border: 2px solid rgb(94, 37, 37);
  color: rgb(94, 37, 37);
  padding: 0px 25px;
  height: 34px;
  font-size: 14px;
}
.logoutbtn:hover{
  background-color: rgb(94, 37, 37);
  border: 2px solid rgb(94, 37, 37);
  color: white;
}
.logoutbtn:active{
  background-color: rgb(94, 37, 37);
  border: 2px solid rgb(94, 37, 37);
  color: white;
  box-shadow: 0 9px 8px grey;
  transform: translateY(4px);
}
.checkOut_btn{
  background: rgb(94, 37, 37);
  color: white;
  margin: 5px;
  margin-bottom: 12px;
}
.checkOut_btn:hover{
  background: rgb(94, 37, 37);
  color: white;
}
.checkOut_btn:active{
  background: rgb(94, 37, 37);
  color: white;
  transform: translateY(4px);

}

.categoryContainer{
  padding-bottom: 30px;
  padding-top: 20px;
  background-color: rgb(231, 224, 208);
  height: 100%;
}
.categoryContainer_login{
  padding-bottom: 5rem;
  padding-top: 5rem;
  background-color: rgb(231, 224, 208);
  height: 100%;
}
/* categoryCArd panel */
/* .one{
  display: flex;
  flex-direction: row;
} */

.col{
  margin-left: 50px;
}
/* category acrd */

.categorycard{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(173 87 145 / 1%);
  box-shadow: 0 8px 9px grey;
  margin-right: 10px;
}
.categorycard img{
  width: 100%;
  background-color: white;
  height: 171px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 5px;
}
.name{
  margin: 7px 13px 8px 6px;
  text-align: center;
  font-size: 1rem;
}
.viewProduct{
  margin-bottom: 13px;
  width: 189px;
  border: none;
  background-color: #836651;;
  color: white;
  padding: 3px 5px;
}
.viewDetails{
  margin: 2px 2px 13px 26px;
  width: 80%;
  border: none;
  background-color: rgb(94, 37, 37);
  color: white;
  padding: 3px 5px;
}
.viewDetails:hover{
  background-color: #3d0606;
  color: white;
}
.viewDetails:active{
  background-color: #3d0606;
  color: white;
  transform: translateY(4px);
}

/* my profile */

.inner{
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 0 6px 8px 5px grey;
}
.inner h1{
  padding-top: 13px;
  padding-bottom: 6px;
  font-size: 20px;
  text-align: center; 
}
.profilerow{
  margin: 10px 25px;
}
.form_div{
  display: flex;
  flex-direction: column;
}
.form_label{
  padding: 9px 4px;
  font-size: 14px;
  font-weight: 400;
}
.form_control{
  border: none;
  padding: 6px 18px;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  box-shadow: 0 2px 10px 0px grey;
}
.form_control:focus{
  outline: none;
  border: 1px solid grey;
}
.pass1{
  display: flex;
}
.eye{
  width: 56px;
}
.form_select{
  border: none;
  padding: 6px 18px;
  font-size: 14px;
  color: black;
  box-shadow:  0 2px 10px 0px grey;
  border-radius: 5px;
}
.form_select:focus{
  outline: none;
  border: 1px solid grey;
}
.updatebtn{
  border: none;
  /* display: flex; */
  /* align-items: right; */
  /* justify-content: right; */

  /* width: 100%; */
  /* background-color: brown; */
  background: linear-gradient(40deg, rgb(150, 66, 66), #470606);
  color: white;
  font-size: 14px;
  padding: 8px 30px;

  font-weight: 400;
  border-radius: 5px;
}
.updatebtn:hover{
  background: linear-gradient(40deg, rgb(141, 60, 60), #3d0606);
  color: white;
}
.updatebtn:active{
  background: linear-gradient(40deg, rgb(141, 60, 60), #3d0606);
  color: white;
  transform: translateY(5px);
}

/* offer status */
.product{
  display: flex;
  flex-direction: row;
}
.offer_img img{
  width: 100%;
  height: 19rem;
  padding: 42px 5px;
}
.oprice{
  display: flex;
  flex-direction: column;
}
.oprice h5{
  font-size: 14px;
  font-weight: bold;
}
.oprice span{
  font-size: 14px;
  padding-bottom: 20px;
  margin-top: -5px;
}
.offerdesc{
  display: flex;
  flex-direction: column;
}
.offerdesc h5{
  font-size: 14px;
  font-weight: bold;
}
.offerdesc span{
  text-align: left;
}
.offerStatusdiv{
  width: 100%;
  margin: 6px 0px;
  border: none;
  background-color: brown;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 11px 8px;
}
.offerProduct{
  display: flex;
  flex-direction: column;
  
}

.obtn{
    margin: 9px 6px;
    padding: 2px 14px;
    color: white;
}
.productdetail_img img{
  width: 80%;
  height: 25rem;
  margin: 20px 6px 12px 20px;
}
.detaildata{
  display: flex;
}
.productdetail_data{
  margin: 20px 12px 4px 5px;
}
.pdbtn{
  background-color: rgb(94, 37, 37);
  margin: 6px 10px;
  border: none;
  width: 50%;
  font-size: 14px;
  box-shadow: 0 3px 8px grey;
  color: white;
}
.pdbtn:hover{
  background-color: #401e1ef2;
  color: white;
}
.pdbtn:active{
  background-color: rgb(94, 37, 37);
  transform: translateY(4px);
  color: white;
}

.dl-horizontal dt{
  margin-top: 18px;
  margin-bottom: 10px;
}
.makebtn{
  margin-left: 100px;
}
/* chatbot */
.chatinput{
  width: 100%;
  padding: 14px 26px;
  margin: 11px 67px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #d1c8c8;
  color: black;
  box-shadow: 0 6px 18px grey;
}
.chat_div{
  position: relative;
    top: 13px;
}
.chatbtn{
  width: 36px;
  height: 45px;
  border: none;
  background-color: #d1c8c8;
}
.answer_div{
  /* border: 2px solid black; */
  width: 80%;
  height: 60vh;
  margin: 5px 80px 13px;
  padding: 13px 18px 9px;
}
/* .desc{
  display: flex;
  flex-direction: column;
} */
.product_dl{
  align-items: left;
  margin-left: 30px;
}
.prodcard_div{
  display: flex;
  flex-direction: row;
  padding: 3px 3px;
}
.productcard{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 16rem;
  border-radius: 4px;
  box-shadow: 0 8px 9px grey;
 
}
.product_padding{
  padding-bottom: 11px;
}
.upper_ppadding{
  padding-top: 5px;
}
.buttons_padding{
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 20px;
}
.productcard img{
  width: 100%;
  height: 179px;
  margin-bottom: -14px;
  border-radius: 4px 4px 0px 0px;
}

.btn1{
  margin: 6px 0px;
  padding: 2px 5px;
  padding-left: 4px;
  border: 1px solid brown;
  font-size: 14px;
  color: brown;
  /* border: 2px solid black; */
}
.btn1:hover{
  background-color: brown;
  color: white;
}
.btn1:active{
  background-color: brown;
  color: white;
  transform: translateY(4px);
}
.btn2{
  font-size: 14px;
  padding: 2px 5px;
  margin: 6px 5px;
  border: 1px solid brown;
  color: brown;
  /* border: 2px solid black; */
}
.btn2:hover{
  background-color: brown;
  color: white;
}
.btn2:active{
  background-color: brown;
  color: white;
  transform: translateY(4px);
}
/* Add to cart */
/* .tableContainer{
  height: 30rem;
} */

/* Dashboard Card */
.dashCard{
  display: flex;
  width: 15rem;
  /* border: 1px solid black; */
  height: 25vh;
  border-radius: 10px;
  background-color: white;
}
.dashCard_Detail{
  display: flex;
  flex-direction: column;
}
.DashCard_pic img{
  width: 92px;
  height: 100px;
}
.dashboard_number{
  font-size: 35px;
}
.dashboard_container{
  padding-bottom: 19rem;
}
.inner_dashcard{
  width: 100%;
  padding-left: 11px;
}


/* my profile */

.profile_image img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile_image{
  border: 2px solid black;
  width: 205px;
  border-radius: 50%;
}


.addproduct_btn{
  display: flex;
  justify-content: right;
}
.action_offer_btn{
  padding: 2px 5px;
  font-size: 15px;
}

/* Admin */
.category_admin_btn{
  padding: 2px 8px;
  font-size: 14px;
}
.vendor_list_btn{
  padding: 5px 11px 8px 11px;
  font-size: 14px;
}
.radio_button{
  margin-right: 15px;
}

/* Login page */

.login_box .user_box{
  position: relative;

}
.login_box .user_box input{
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  border: none;
  color: black;
  font-size: 16px;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.login_box .user_box label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: black;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.login_box .user_box input:focus ~ label,
.login_box .user_box input:valid ~ label,
.login_box .user_box input:not([name=""]) ~ label {
  top: -20px;
  left: 0;
  color: black;
  font-size: 14px;
}

.forgetPassword{
  margin-top: -16px;
  color: darkred;
}
/* //category css  */
.swal2-custom-input{
  width: 75%;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 14px 13px;
  margin: 13px 12px;
  border-radius: 8px;
}
.swal2-custom-textarea{
  width: 75%;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 9px 11px;
  border-radius: 8px;
  height: 115px;
}
.profile_padding{
  padding-bottom: 8rem !important;
}
.login_error{
  margin-top: -19px;
}
.swal2-file-label button {
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.swal_input_file button{
  background-color: #007bff;
}

.my-custom-button{
  background-color: rgb(94, 37, 37) !important; 
  color: white !important;
  border: 0;
  border-radius: .25em;
  background: initial;
  font-size: 1em;
  padding: 0.5rem 2rem;
}
.my-custom-button_error{
  background-color: rgb(73, 66, 66) !important; 
  color: white !important;
  border: 0;
  border-radius: .25em;
  background: initial;
  font-size: 1em;
  padding: 0.5rem 2rem;
}


/* //footer */

.footer{
  background: white;
  width: 100%;
  height: 3rem;
}
.footer p{
  position: absolute;
  right: 8rem;
  padding: 6px 4px;
  color: grey;
}

.total_order{
  margin-right: 34px !important; 
}

.currency{
  font-size: 9px;
}
.totalRevenue{
  font-size: 20px;
}