.profile_image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
.profile_image{
    border: 2px solid black;
    width: 205px;
    border-radius: 50%;
}
.myprofile_label label{
    font-weight: 400;
}
.Editprofile_btn{
    width: 121px;
    height: 35px;
    border: none;
    border-radius: 20px;
    color: #575151;
    font-weight: bold;
    background-color: #cac2c2;
    margin-top: 10px;
}


/* my orders page */

.order_category{
    width: 100%;
    border: 2px solid #984f4f;
    border-radius: 25px;
    margin: 16px 5px;
    padding: 1px 22px;
    color: white;
    font-size: 20px;
    background-color: #984f4f;
}
.order_category h1{
    text-align: left;
}
.orderproduct_image img{
    width: 100%;
    height: 100px;
}
.order_label{
    margin-right: 43px;
    font-weight: 400;
    margin-bottom: 14px;

}
.label_span{
    margin-left: 10px;
}
.order_ptag{
    font-weight: 400;
}
.orderstatus_span{
    margin-left: 0px;
}
.sub_total{
    margin-left: 5rem;
}
.sub_total p{
    margin-right: 7rem;
}
.address_info{
    margin-left: 5rem;
}
.address_info span{
    margin-left: 2rem;
}
.edit_address_btn{
    padding: 8px 11px;
    background: dimgrey;
    border-radius: 8px;
    color: white;
    border: none;
}
.complete_order_btn{
    border: none;
    width: 100%;
    background: linear-gradient(40deg, rgb(150, 66, 66), #470606);
    color: white;
    font-size: 18px;
    padding: 8px 30px;
    font-weight: 400;
    border-radius: 5px;
}
.complete_order_btn:hover{
    background: linear-gradient(40deg, rgb(141, 60, 60), #3d0606);
    color: white;
}
.complete_order_btn:active{
    background: linear-gradient(40deg, rgb(141, 60, 60), #3d0606);
    color: white;
    transform: translateY(5px);
}